<div style="padding: 20px;">
  <nz-card class="animate__animated animate__fadeIn" nzTitle="COVID-19">
    <div nz-row nzGutter="8" style="margin-bottom: 20px;">
      <div nz-col nzMd="12"></div>
      <div nz-col nzMd="4">
        <nz-input-group nzAddOnBefore="ConfirmDate">
          <nz-date-picker [(ngModel)]="confirmDate" (ngModelChange)="search()" style="width: 100%"></nz-date-picker>
        </nz-input-group>
      </div>
      <div nz-col nzMd="4">
        <nz-input-group nzAddOnBefore="District">
          <input nz-input [(ngModel)]="district" (ngModelChange)="search()">
        </nz-input-group>
      </div>
      <div nz-col nzMd="4">
        <nz-input-group nzAddOnBefore="Province">
          <input nz-input [(ngModel)]="province" (ngModelChange)="search()">
        </nz-input-group>
      </div>
    </div>
    <nz-table #nzTable [nzData]="cases" [nzLoading]="loading" [nzScroll]="{ x: '768px' }" [nzShowTotal]="rangeTemplate">
      <ng-template #rangeTemplate let-range="range" let-total> {{range[0]}}-{{range[1]}} of {{total}} items </ng-template>
      <thead>
        <tr>
          <!-- <th>Age</th> -->
          <th>ConfirmDate</th>
          <th>Detail</th>
          <th>District</th>
          <!-- <th>Gender</th> -->
          <!-- <th>GenderEn</th> -->
          <th>Nation</th>
          <!-- <th>NationEn</th> -->
          <!-- <th>No</th> -->
          <th>Province</th>
          <th>ProvinceEn</th>
          <!-- <th>ProvinceId</th> -->
          <th>StatQuarantine</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animate__animated animate__fadeIn" *ngFor="let data of nzTable.data">
          <!-- <td>{{data.Age}}</td> -->
          <td>{{data.ConfirmDate}}</td>
          <td>{{data.Detail}}</td>
          <td>{{data.District}}</td>
          <!-- <td>{{data.Gender}}</td> -->
          <!-- <td>{{data.GenderEn}}</td> -->
          <td>{{data.Nation}}</td>
          <!-- <td>{{data.NationEn}}</td> -->
          <!-- <td>{{data.No}}</td> -->
          <td>{{data.Province}}</td>
          <td>{{data.ProvinceEn}}</td>
          <!-- <td>{{data.ProvinceId}}</td> -->
          <td>{{data.StatQuarantine}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>